{% extends "layout_bsa.html" %}
{% block page_title %}
NHS Data Matching
{% endblock %}
{% block content %}
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <div class="phase-banner">
            <p>
               <strong class="phase-tag">BETA</strong>
               <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
         </div>
      </div>
   </div>
   <h1 class="heading-xlarge" style="margin: 30px 0;">NHS Data Matching</h1>
   <h3 class="heading-medium">Letter development</h3>
   <h3 class="heading-small">Round 1</h3>
   <ul class="list list-bullet">
      <li><a href="public/images/bsa/letters/HS-letter-1.pdf">Helen</a></li>
      <li><a href="public/images/bsa/letters/SD-letter-1.pdf">Sophie letter 1</a></li>
      <li><a href="public/images/bsa/letters/SD-letter-2.pdf">Sophie letter 2</a></li>
      <li><a href="public/images/bsa/letters/DC-letter-v6.pdf">David letter v6</a></li>
   </ul>
   <h3 class="heading-small">Round 2</h3>
   <ul class="list list-bullet">
      <li><a href="public/images/bsa/letters/SD-letter-3.pdf">Sophie letter 3</a></li>
      <li><a href="public/images/bsa/letters/SD-letter-4.pdf">Sophie letter 4</a></li>
      <li><a href="public/images/bsa/letters/SD-letter-5.pdf">Sophie letter 5</a></li>
   </ul>
   <!-- <h3 class="heading-medium">Email (GOV Notify)</h3>
   <ul class="list list-bullet">
      <li><a href="public/images/bsa/email/email-temp-v1.png">Email template v.1</a></li> -->
      
      <!--  <h3 class="heading-small">Older versions</h3>
         <ul class="list list-bullet">
            <li><a href="public/images/bsa/email/">Email template v.1 [PDF]</a></li>
         </ul>  -->
   <!-- </ul> -->
   <h3 class="heading-medium">Online journey</h3>
   <ul class="list list-bullet">
      <li><a href="confirm/start">Journey v.3</a></li>
      <li><a href="confirm/thankyou-nhs">Alt. end page (user did not provide NHS Number)</a></li>
      <h3 class="heading-small">Older versions</h3>
      <ul class="list list-bullet">
         <li><a href="public/images/bsa/versions/v1.pdf">Journey v.1 [PDF]</a></li>
         <li><a href="public/images/bsa/versions/v2.pdf">Journey v.2 [PDF]</a></li>
      </ul>
   </ul>
</main>
{% endblock %}








